doctype html
html
    head
        meta(charset="utf-8")
        link(href="/static/popcardinfo.css", rel="stylesheet")
        script(type="text/javascript", src="/static/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/static/popcardinfo.js")
    body
        div.cardcontent
            div.cchead
                div.cardsep.cardid
                    span="id"
                div.cardsep.cardop
                    span="操作"
                div.cardsep.cardcount
                    span="数量"
                div.cardsep.cardname
                    span="名称"
                div.cardsep.cardrune
                    span="符文"

            each card in deck.cards
                - var cardInfo = cardInfos[card.id];
                div.card.cardinfo(data-id=cardInfo.id, class=(cardInfo.status == 0 ? "" : cts.RARITY.NAME[cardInfo.rarity]))
                    div.cardsep.cardid
                        span=cardInfo.id
                    div.cardsep.cardop
                        span.fonticon-plus.small-fonticon
                    div.cardsep.cardcount
                        span.choose-num=0
                        span="/"
                        span.total-num=card.num
                    div.cardsep.cardname
                        if cardInfo.status == 0
                            span="<抓取中，请稍候>"
                        else
                            span=cardInfo.name
                    div.cardsep.cardrune
                        span.rune40(class=("rune40-" + cardInfo.rune_name))

            each scard in deck.scards
                - var scardInfo = cardInfos[scard];
                div.scard.cardinfo(data-id=scardInfo.id, class=(scardInfo.status == 0 ? "" : cts.RARITY.NAME[scardInfo.rarity]))
                    div.cardsep.cardid
                        span=scardInfo.id
                    div.cardsep.cardop
                        span.fonticon-plus.small-fonticon
                    div.cardsep.cardcount
                        span="资源"
                        span.choose-num.e-hide=0
                        span.total-num.e-hide=1
                    div.cardsep.cardname
                        if scardInfo.status == 0
                            span="<抓取中，请稍候>"
                        else
                            span=scardInfo.name
                    div.cardsep.cardrune
                        span.rune40(class=("rune40-" + scardInfo.rune_name))


        div.gear
            div.header
                ="资源"
            div.gear-card#gear-scard

            br

            div.header
                ="技能"
            div.gear-card#gear-card

            div.e-hide#gear-cardinfo-template
                div.cardsep.cardop
                    span.fonticon-plus.small-fonticon
                    span.cardop-space="  "
                    span.fonticon-minus.small-fonticon
                div.cardsep.cardcount
                    span.choose-num=0
                div.cardsep.cardrune
                    span.rune20
                div.cardsep.cardname
                    span="模板"


        script(type="text/javascript").
            var cardInfos = !{ JSON.stringify(cardInfos).replace(/<\//g, "<\\/") };
