doctype html
html
    head
        script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
        style.
            table {
                border-collapse: collapse;
            }
            table td {
                border: 1px solid black;
            }
    body
        table
            tr
                td id
                td 名称
                td 数量
        
            each card in deck.cards
                tr
                    td= card.id
                    td.cardblock= cardInfo[card.id]
                    td= card.num
        
            each scard in deck.scards
                tr
                    td= scard
                    td.cardblock= cardInfo[scard]
                    td= "资源"

        script(type="text/javascript").
            $(".cardblock").hover(function(){
                $(this).css("color", "red");
            },function(){
                $(this).css("color", "black");
            })
