doctype html
html
    head
        meta(charset="utf-8")
        link(href="/static/popcardinfo.css", rel="stylesheet")
        script(type="text/javascript", src="/static/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/static/popcardinfo.js")
    body
        div.cardcontent
            div.cchead
                div.cardsep.cardid
                    span="id"
                div.cardsep.cardcount
                    span="数量"
                div.cardsep.cardname
                    span="名称"

            each card in deck.cards
                - var cardInfo = cardInfos[card.id];
                div.cardinfo(data-id=cardInfo.id, class=(cardInfo.status == 0 ? "" : cts.RARITY.NAME[cardInfo.rarity]))
                    div.cardsep.cardid
                        span=cardInfo.id
                    div.cardsep.cardcount
                        span=card.num
                    div.cardsep.cardname
                        if cardInfo.status == 0
                            span="<抓取中，请稍候>"
                        else
                            span=cardInfo.name

            each scard in deck.scards
                - var scardInfo = cardInfos[scard];
                div.cardinfo(data-id=scardInfo.id, class=(scardInfo.status == 0 ? "" : cts.RARITY.NAME[scardInfo.rarity]))
                    div.cardsep.cardid
                        span=scardInfo.id
                    div.cardsep.cardcount
                        span="资源"
                    div.cardsep.cardname
                        if scardInfo.status == 0
                            span="<抓取中，请稍候>"
                        else
                            span=scardInfo.name


        div.gear
            div.header
                ="资源"
            div.gear-card

            br

            div.header
                ="技能"
            div.gear-card


        script(type="text/javascript").
            var cardInfos = !{ JSON.stringify(cardInfos).replace(/<\//g, "<\\/") };
