doctype html
html
    head
        meta(charset="utf-8")
        link(href="/static/popcardinfo.css", rel="stylesheet")
        script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/static/popcardinfo.js")
    body
        div.cardcontent
            div.cchead
                div.cardsep.cardid
                    span="id"
                div.cardsep.cardname.lb
                    span="名称"
                div.cardsep.cardcount.lb
                    span="数量"

            each card in deck.cards
                div.cardinfo
                    div.cardsep.cardid
                        span=card.id
                    div.cardsep.cardname.lb
                        span=cardInfo[card.id]
                    div.cardsep.cardnum.lb
                        span=card.num

            each scard in deck.scards
                div.cardinfo
                    div.cardsep.cardid
                        span=scard
                    div.cardsep.cardname.lb
                        span=cardInfo[scard]
                    div.cardsep.cardnum.lb
                        span="资源"
